
/* w3l-header */
:root {
    --theme-color: #21174a;
    --theme-yellow: #fac70b;
    --theme-bg: #0c0f0a;
    --theme-rose: #df0e62;
    --theme-title: #0c0f0a;
    --theme-nav: #262626;
    --theme-dark: #111;
    --theme-lite: #f6f6f6;
    --theme-blue: #127681;
    --theme-para: #888;
    --theme-white: #fff;
    --theme-hd-bg: #fff;
    --theme-border: #f0f0f0;
    --theme-fm-border: #ddd;
  
  }
  body{
    font-family: 'Open Sans',sans-serif;
   
  }
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
.w3l-header{
   padding:0px 0px;
   height: 70px;
   background:var(--theme-hd-bg);
   display:grid;
   align-items:center;

}
a,a:hover{
  text-decoration: none;
}
.w3l-header  .navbar-light .navbar-brand{
  color:var(--theme-title);
  font-size: 26px;
  padding: 0;
  margin:0;
  font-weight: 700;
}

.w3l-header .navbar-light .navbar-brand .icon-log{
  font-size: 26px;
  color:var(--theme-title);
  text-shadow: 2px 2px 0 var(--theme-rose),4px 4px 0 var(--theme-rose);
}

/*right navigation items*/
.w3l-header .navbar-nav .nav-item.active a.nav-link{
  color:var(--theme-rose)
}
 .w3l-header .navbar-nav  .nav-link{
   background: none;
   text-transform: capitalize;
   font-size: 16px;
   font-weight: 600;
   display: block;
   line-height: 28px;
   padding: 0 15px;
   color:var(--theme-title)
 }
 .w3l-header .navbar-nav  .nav-link:hover{
   color:var(--theme-rose)
 }
 .search-right{
   margin-left:10px;
 }
 .search-right a.btn.search-hny{
  border:1px solid var(--theme-rose);
  background: var(--theme-rose);
  color:#fff;
  border-radius: 6px;
  font-size:16px;
  font-weight: 600;
 }
 .search-right a.btn.search-hny:hover{
   border:1px solid var(--theme-blue);
   background:var(--theme-blue);
   transition: 0.5s ease-out;
 }

 .search-right .pop-overlay{
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   background: rgba(0,0,0,0.93);
   visibility: hidden;
   height: 100vh;
   opacity: 0;
   z-index: 99;
 }
 .search-right .pop-overlay:target{
   visibility: visible;
   opacity: 1;
 }
 .search-right  .popup{
   padding: 40px 50px;
   border-radius: 0;
   position: relative;
   top:50%;
   transform: translateY(-50%);
 }

 .search-right .popup form{
   margin:0 auto;
   max-width: 600px;
 }
 .search-right .popup form.search-box{
   display: block;
   position: relative;
 }
 .search-right .popup form input[type="search"]{
   width: 100%;
   padding: 15px 45px 15px 15px;
   color:var(--theme-title);
   font-size: 16px;
   border-radius: 6px;
   height: 60px;
   border:none;
   outline:none;
 }
 .search-right .popup form button{
   display: block;
   font-size: 18px;
   color:var(--theme-color);
   position: absolute;
   right:0;
   top:8px;
 }
 .search-right .close{
   position: absolute;
   top:20px;
   right: 20px;
   font-size: 40px;
   color:#fff;
   opacity: 1;
   background:none;
 }
 .search-right .close:hover{
   opacity: 0.8;
   background: none;
 }

 /* toggle switch */
 nav{
   display: flex;
   justify-content: flex-end;
 }
 .theme-switch-wrapper{
   display:flex;
   align-items: center;

 }
 .theme-switch{
   display: inline-block;
   position: relative;
   width: 60px;
   margin: 0;
 }
 .theme-switch input{
   display: none;
 }

 /* dark and light mode styling */
 .mode-container{
   width:24px;
   height: 24px;
   margin-left: 12px;
 }
 .gg-sun{
   position: relative;
   height: 24px;
   width: 24px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
 }

 .gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.gg-sun:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.w3l-main-slider li{
  list-style: none;
}
.w3l-main-slider .banner-view{
 background: url(../images/banner1.jpg) no-repeat;
 background-size: cover;
 min-height: 500px;
 border-radius: 6px;
 position: relative;
 display: grid;
 align-items: center;
}
.w3l-main-slider .banner-view::before{
  content: '';
  background: rgba(9, 6, 20, 0.53);
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  min-height: 100%;
 z-index: -1;

}
.w3l-main-slider .banner-info{
  max-width: 500px;
  padding: 0 60px;
}
.w3l-main-slider .banner-info h3{
  font-size: 30px;
  font-weight: 700;
  color:#fff;
}
.w3l-main-slider .banner-info p{
  color:#fff;
  opacity: 0.8;
  margin: 10px 0px 34px 0px;
}
.w3l-main-slider .play-view1 span.video-play-icon{
  background-color: #fff;
  color:var(--theme-rose);
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  line-height: 38px;
  padding-left: 1px;
  text-align: center;
  border:2px solid #fff;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  
}
@keyframes ripple{
  0%{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.15), 0 0 0 6px rgba(255, 255, 255, 0.15), 0 0 0 6px rgba(255, 255, 255, 0.15);
  }
  100%{
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.15), 0 0 0 10px rgba(255, 255, 255, 0.15), 0 0 0 20px rgba(50, 100, 245, 0);
  }
}
.w3l-main-slider .play-view1 span.video-play-icon:hover{
  transform: scale(1.1);
  transition: .3s ease-in-out;
  background-color: var(--theme-rose);
  color:#fff;
}
.w3l-main-slider .play-view1 h6{
  font-size: 16px;
  font-weight: 700px;
  color: #fff;
  margin-left: 20px;
  display: inline-block;
}

#small-dialog1{
  max-width: 750px;
  margin:40px auto;
  position: relative;

}
div#small-dialog iframe{
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
}

button.owl-prev,button.owl-next{
  
  position: absolute;
  bottom: 50%;
}
button.owl-prev{
  left:0
}
button.owl-next{
  right: 0;
}
.owl-theme .owl-nav [class*=owl-] {
  color: var(--theme-rose) !important;
  font-size: 30px !important;
  margin: 0px;
  width: 50px;
  background: #01080eba !important;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 50px;
  line-height: 34px !important;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  outline: none;
}
.w3l-title-grids{
   display:grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   grid-gap: 20px;

}
h4.hny-title{
  font-size: 26px;
  line-height: 26px;
  color:var(--theme-title);
  text-transform: uppercase;
  font-weight: 700;
}
a.show-title{
  color:var(--theme-rose);
  font-size: 20px;
  font-weight: 700;
}
header .fixed-top{
  position: fixed;
  top:0;
  left:0;
  right:0;
 
}
header.nav-fixed{
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(6, 0, 19, 0.28);
}
.headerhny-title{
  margin-bottom:30px;
}
.w3l-grid .w3l-populohny-grids{
  display:grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.w3l-grid .vhny-grid{
 margin-bottom: 24px;
}

.w3l-grid .box-16{
  text-align: center;
  display:block;
  position: relative;
}
.w3l-grid .box-16 .box-content{
  position: absolute;
  padding:15px;
  bottom:30px;
  z-index: 1;
  text-align: left;
  left: 0;
  width:100%;
  box-sizing: border-box;
}
.w3l-grid .box-16 span.video-icon{
  width:42px;
  height: 42px;
  border:2px solid #fff;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  margin:0 auto;
  line-height: 39px;
  position: absolute;
  top:30%;
  left:0;
  right: 0;
  font-size: 18px;
  z-index:9;
  padding-left: 2px;
}
.w3l-grid .box-16 img{
  border-radius: 6px;
}

.w3l-grid .box-16 .title{
  font-size: 14px;
  line-height: 20px;
  color:#fff;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
}

.w3l-grid .box-16 .box-content h4{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 10px;
}
.w3l-grid .box-16 .box-content span{
  font-size: 13px;
  color:#fff;
  font-weight: 400;
}
.w3l-grid .box-16 span.fa.fa-heart{
  color:var(--theme-rose)
}
.w3l-grid .box-16 .post, .w3l-grid .box-16 .title{
  transform: translateY(30px);
  transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}
.w3l-grid .box-16:hover .post, .w3l-grid .box-16:hover .title{
  transform: translateY(0);
}
