
/* w3l-header */
:root {
    --theme-color: #21174a;
    --theme-yellow: #fac70b;
    --theme-bg: #0c0f0a;
    --theme-rose: #df0e62;
    --theme-title: #0c0f0a;
    --theme-nav: #262626;
    --theme-dark: #111;
    --theme-lite: #f6f6f6;
    --theme-blue: #127681;
    --theme-para: #888;
    --theme-white: #fff;
    --theme-hd-bg: #fff;
    --theme-border: #f0f0f0;
    --theme-fm-border: #ddd;
  
  }
  body{
    font-family: 'Open Sans',sans-serif;
   
  }
  h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
.w3l-header{
   padding:0px 0px;
   height: 70px;
   background:var(--theme-hd-bg);
   display:grid;
   align-items:center;

}
.w3l-header  .navbar-light .navbar-brand{
  color:var(--theme-title);
  font-size: 26px;
  padding: 0;
  margin:0;
  font-weight: 700;
}

.w3l-header .navbar-light .navbar-brand .icon-log{
  font-size: 26px;
  color:var(--theme-title);
  text-shadow: 2px 2px 0 var(--theme-rose),4px 4px 0 var(--theme-rose);
}

/*right navigation items*/
.w3l-header .navbar-nav .nav-item.active a.nav-link{
  color:var(--theme-rose)
}
 .w3l-header .navbar-nav  .nav-link{
   background: none;
   text-transform: capitalize;
   font-size: 16px;
   font-weight: 600;
   display: block;
   line-height: 28px;
   padding: 0 15px;
   color:var(--theme-title)
 }
 .w3l-header .navbar-nav  .nav-link:hover{
   color:var(--theme-rose)
 }
 .search-right{
   margin-left:10px;
 }
 .search-right a.btn.search-hny{
  border:1px solid var(--theme-rose);
  background: var(--theme-rose);
  color:#fff;
  border-radius: 6px;
  font-size:16px;
  font-weight: 600;
 }
 .search-right a.btn.search-hny:hover{
   border:1px solid var(--theme-blue);
   background:var(--theme-blue);
   transition: 0.5s ease-out;
 }

 .search-right .pop-overlay{
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   background: rgba(0,0,0,0.93);
   visibility: hidden;
   height: 100vh;
   opacity: 0;
   z-index: 99;
 }
 .search-right .pop-overlay:target{
   visibility: visible;
   opacity: 1;
 }
 .search-right  .popup{
   padding: 40px 50px;
   border-radius: 0;
   position: relative;
   top:50%;
   transform: translateY(-50%);
 }

 .search-right .popup form{
   margin:0 auto;
   max-width: 600px;
 }
 .search-right .popup form.search-box{
   display: block;
   position: relative;
 }
 .search-right .popup form input[type="search"]{
   width: 100%;
   padding: 15px 45px 15px 15px;
   color:var(--theme-title);
   font-size: 16px;
   border-radius: 6px;
   height: 60px;
   border:none;
   outline:none;
 }
 .search-right .popup form button{
   display: block;
   font-size: 18px;
   color:var(--theme-color);
   position: absolute;
   right:0;
   top:8px;
 }
 .search-right .close{
   position: absolute;
   top:20px;
   right: 20px;
   font-size: 40px;
   color:#fff;
   opacity: 1;
   background:none;
 }
 .search-right .close:hover{
   opacity: 0.8;
   background: none;
 }